---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getBlogPosts } from '../firebase/server';
import FormattedDate from '../components/FormattedDate.astro';

const blogPosts = await getBlogPosts();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SQQHMJ2TJG"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-SQQHMJ2TJG');
    </script>

    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="container mx-auto max-w-4xl">
        <section class="py-20">
          <div class="grid grid-cols-3 gap-4">
            {
              blogPosts.map((item) => (
                <article class="flex max-w-xl flex-col gap-4 items-start justify-between">
                  <div>
                    <img src={item.image} />
                  </div>
                  <div class="flex items-center gap-x-4 text-xs">
                    <FormattedDate date={item.publishedAt.toDate()} />
                    <a
                      href="#"
                      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
                    >
                      {item?.category?.title || ''}
                    </a>
                  </div>
                  <div class="group relative">
                    <h3 class="text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                      <a href={`/blog/${item.slug}`}>
                        <span class="absolute inset-0" />
                        {item.title}
                      </a>
                    </h3>
                    <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-600">
                      {item.excerpt}
                    </p>
                  </div>
                </article>
              ))
            }
          </div>
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>
