---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import type { BlogPost } from '../consts';

type Props = { children: any; post: BlogPost };

const { post } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={post.title} description={post.body} />
  </head>

  <body>
    <Header />
    <main>
      {
        post.image && (
          <div class="container mx-auto max-w-5xl my-8">
            <figure>
              <img src={post.image} alt={post.title} class="w-full" />
            </figure>
          </div>
        )
      }

      <article class="prose mx-auto">
        <div class="my-8">
          <h1 class="text-5xl font-bold mb-4">{post.title}</h1>
          <FormattedDate date={post.publishedAt.toDate()} />
        </div>

        <slot />
      </article>
    </main>

    <Footer />
  </body>
</html>
